{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container" id="home">
        <h2 class=" ml-3 mr-3 bg-text">WELCOME KCONCENT</h2>
        <p class=" ml-3 mr-3 bg-text">
            We are a well dedicated company offering you privacy on matters private, when you and a random partner want to participate 
        </p>
    </div>
    <div class="container" id="home">
        <h2 class=" ml-3 mr-3 bg-text">PRIVACY AND SECURITY IS OUR ULTIMATE GOAL</h2>
        <p  class=" ml-3 mr-3 bg-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. 
        </p>
    </div>
{% endblock content %}
